.navbarHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.817);
    height: 40px;
    padding: 15px 15px 0px;

}
.navLink {
    display: inline;
    font-size: 15px;
    margin-right: 10px;
    color: white;
}

.linkContainer{
    padding-bottom: 100px;
}