.quizzListClose {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.206);
    border: 4px solid white;
    margin: 10px 5% 10px;
    border-radius: 5px;
}

.quizzListOpen {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.206);
    border: 2px solid #4f691e;
    margin: 10px 5% 40px;
    border-radius: 5px;
    color: white;
    height: 300px;
    overflow-y: scroll;
}

.quizzListClose p {
    display: inline;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}


.quizzListOpen h5 {
    color: rgb(48, 66, 15);
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 1px;
}

.quizzListOpen h5 span {
    font-size: 15px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
}

.quizzListOpen h6 {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 25px;
}

.quizzListOpen p {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: right;
    margin: 0 0 5px 5px;
}

.quizzContainer{margin-top: 100px;}

.linksRow {
    display: flex;
    justify-content: end;
}

.quizzListRow {
    border-bottom: 1px solid rgba(255, 255, 255, 0.44);
}

.AddQuizz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.206);
    margin: 10px 5% 10px;
    border-radius: 5px;
}

.AddQuizz p
 {
    display: inline;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.AddQuestion h5 {
    display: inline;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

.AddQuestion {
    padding:  15px 20px;
    background-color: rgba(255, 255, 255, 0.206);
    //border: 2px solid #4f691e;
    border: 2px solid white;
    margin: 10px 5% 10px;
    border-radius: 5px;
    color: white;
}

.AddQuestion textarea {
    display: block;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    width: 95%;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border: white solid 1px;
    background-color: rgba(255, 255, 255, 0.371);
    outline: none;
    
}

.AddQuestion button{
    background-color: transparent;
    color: rgb(48, 66, 15);
    border: 2px solid rgb(48, 66, 15);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    margin-top:5px;
}
.AddQuestion button.close{
    border: none;
}

.titleClose{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.AddQuestion h4 {
    color: rgb(64, 64, 64);
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    margin:0;
}
.AddQuestion h6 {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding-bottom: 5px;
    color:#4f691e;
    border-bottom: 1px solid #4f691e;
}
.AddQuestion input{
    background-color: transparent;
    color: rgb(48, 48, 48);
    border: 2px solid rgb(48, 66, 15);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    width: 95%;
    margin-bottom: 8px;
}

.AddQuestion select{
    background-color: transparent;
    color: rgb(48, 48, 48);
    border: 2px solid rgb(48, 66, 15);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    width: 95%;
    margin-bottom: 10px;;
}

.AddQuestion option{
    background-color: #6b8f24c8;
    color: rgb(48, 48, 48);
    border: 2px solid rgb(48, 66, 15);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    width: 95%;
    margin-bottom: 10px;;
}
.AddQuestion p {
    font-size: 18px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    color:white;
}
.AddQuestion p span{
    color: rgb(157, 53, 53);
    font-weight: 800;
}

#final{
    margin-top: 10px;
    color: rgb(150, 13, 13);
    border-color: rgb(150, 13, 13);;
}

.finish{
    width: fit-content;
    margin: 5px auto 5px auto;
 
}
.finish h6 {
    font-size: 25px;
    width: fit-content;
    color: rgb(48, 66, 15);
    padding: 5px;
}


h5.quizzName{
font-size: 30px;
}


.questionsListContainer{
    margin: 10px 5% 10px;
}
.questionsListContainer h4 {
    color: white;
    font-size: 18px;
    margin: 25px auto 0 auto;
}

.questionsListContainer p {
    color: rgb(65, 89, 22);
    font-size: 18px;
}

.questionsList{
    
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.206);
    margin: 10px 0 15px;
    border-radius: 5px;
}

.questionEdit{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.questionEdit input{
    background-color: transparent;
    color: rgb(48, 48, 48);
    border: 2px solid rgb(48, 66, 15);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    width: 95%;
    margin-bottom: 8px;
}

p.editar {
    color:white;
    margin-right: 5px;
    font-size: 16px;
}
p.eliminar{
    font-size: 16px;
}
.questionEdit button{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    margin-bottom: 8px;
}