.answeredgif {
 margin: 30px 20px;
 font-family: 'Roboto Condensed', sans-serif;
}

.answeredgif h3{
color: white;
font-size: 50px;
text-align: center;
}


.answeredgif h6{
    color: rgb(57, 73, 27);
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    }
.answeredgif img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 40%;
}