.barTime0 {width: 0.5%;}
.barTime1 {width: 1.5%;}
.barTime2 {width: 2%;}
.barTime3 {width: 3%;}
.barTime4 {width: 4%;}
.barTime5 {width: 5%;}
.barTime6 {width: 6%;}
.barTime7 {width: 7%;}
.barTime8 {width: 8%;}
.barTime9 {width: 9%;}
.barTime10 {width: 10%;}
.barTime11 {width: 11%;}
.barTime12 {width: 12%;}
.barTime13 {width: 13%;}
.barTime14 {width: 14%;}
.barTime15 {width: 15%;}
.barTime16 {width: 16%;}
.barTime17 {width: 17%;}
.barTime18 {width: 18%;}
.barTime19 {width: 19%;}
.barTime20 {width: 20%;}
.barTime21 {width: 21%;}
.barTime22 {width: 22%;}
.barTime23 {width: 23%;}
.barTime24 {width: 24%;}
.barTime25 {width: 25%;}
.barTime26 {width: 26%;}
.barTime27 {width: 27%;}
.barTime28 {width: 28%;}
.barTime29 {width: 29%;}
.barTime30 {width: 30%;}
.barTime31 {width: 31%;}
.barTime32 {width: 32%;}
.barTime33 {width: 33%;}
.barTime34 {width: 34%;}
.barTime35 {width: 35%;}
.barTime36 {width: 36%;}
.barTime37 {width: 37%;}
.barTime38 {width: 38%;}
.barTime39 {width: 39%;}
.barTime40 {width: 40%;}
.barTime41 {width: 41%;}
.barTime42 {width: 42%;}
.barTime43 {width: 43%;}
.barTime44 {width: 44%;}
.barTime45 {width: 45%;}
.barTime46 {width: 46%;}
.barTime47 {width: 47%;}
.barTime48 {width: 48%;}
.barTime49 {width: 49%;}
.barTime50 {width: 50%;}
.barTime51 {width: 51%;}
.barTime52 {width: 52%;}
.barTime53 {width: 53%;}
.barTime54 {width: 54%;}
.barTime55 {width: 55%;}
.barTime56 {width: 56%;}
.barTime57 {width: 57%;}
.barTime58 {width: 58%;}
.barTime59 {width: 59%;}
.barTime60 {width: 60%;}
.barTime61 {width: 61%;}
.barTime62 {width: 62%;}
.barTime63 {width: 63%;}
.barTime64 {width: 64%;}
.barTime65 {width: 65%;}
.barTime66 {width: 66%;}
.barTime67 {width: 67%;}
.barTime68 {width: 68%;}
.barTime69 {width: 69%;}
.barTime70 {width: 70%;}
.barTime71 {width: 71%;}
.barTime72 {width: 72%;}
.barTime73 {width: 73%;}
.barTime74 {width: 74%;}
.barTime75 {width: 75%;}
.barTime76 {width: 76%;}
.barTime77 {width: 77%;}
.barTime78 {width: 78%;}
.barTime79 {width: 79%;}
.barTime80 {width: 80%;}
.barTime81 {width: 81%;}
.barTime82 {width: 82%;}
.barTime83 {width: 83%;}
.barTime84 {width: 84%;}
.barTime85 {width: 85%;}
.barTime86 {width: 86%;}
.barTime87 {width: 87%;}
.barTime88 {width: 88%;}
.barTime89 {width: 89%;}
.barTime90 {width: 90%;}
.barTime91 {width: 91%;}
.barTime92 {width: 92%;}
.barTime93 {width: 93%;}
.barTime94 {width: 94%;}
.barTime95 {width: 95%;}
.barTime96 {width: 96%;}
.barTime97 {width: 97%;}
.barTime98 {width: 98%;}
.barTime99 {width: 99%;}