
.riseH5 {
    height: 5px;
}
.riseH20 {
    height: 20px;
}

.riseH35 {
    height: 35px;
}
.riseH50 {
    height: 50px;
}

.riseH65 {
    height: 65px;
}

.riseH80 {
    height: 80px;
}

.riseH95 {
    height: 95px;
}

.riseH110 {
    height: 110px;
}

.riseH125 {
    height: 125px;
}

.riseH140 {
    height: 140px;
}

.riseH155 {
    height: 155px;
}

.riseH170 {
    height: 170px;
}

.riseH185 {
    height: 185px;
}

.riseH200 {
    height: 200px;
}

.riseH215 {
    height: 215px;
}

.riseH230 {
    height: 230px;
}

.riseH245 {
    height: 245px;
}

.riseH260 {
    height: 260px;
}

.riseH275 {
    height: 275px;
}

.riseH290 {
    height: 290px;
}

.riseH305 {
    height: 305px;
}

.riseH320 {
    height: 320px;
}

.riseH335 {
    height: 335px;
}
.riseH350 {
    height: 350px;
}

.riseH365 {
    height: 365px;
}

.riseH380 {
    height: 380px;
}

.riseH395 {
    height: 395px;
}

.riseH410 {
    height: 410px;
}

.riseH425 {
    height: 425px;
}

.riseH440 {
    height: 440px;
}

.riseH455 {
    height: 455px;
}

.riseH470 {
    height: 470px;
}

.riseH485 {
    height: 485px;
}



