.tagsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.tagsContainer div {
    text-align: center;
    font-size: 30px;
    color:white;
    width: 15%;
    margin: 20px 15px 0 15px;
    border-top: 1px solid white;
    
}

.statsContainer{
    border: 1px solid white;
    margin: 50px auto;
    padding: 10px;
    width:80%;
}

.barsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.bar1{
    border: 1px solid white;
    /*height: 100px;*/
    width: 15%;
    margin: 0 15px;
}

.bar2{
    border: 1px solid white;
    /*height: 50px;*/
    width: 15%;
    margin: 0 15px;
}

.bar3{
    border: 1px solid white;
    /*height: 70px;*/
    width: 15%;
    margin: 0 15px;
}

.bar4{
    border: 1px solid white;
    /*height: 40px;*/
    width: 15%;
    margin: 0 15px;
}