.tagsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.tagsContainer div {
    text-align: center;
    font-size: 30px;
    color:white;
    width: 15%;
    margin: 20px 15px 0 15px;
    border-top: 1px solid white;
    
}

.statsContainer{
    border: 1px solid white;
    margin: 50px auto;
    padding: 10px;
    width:80%;
}

.barsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 180px;
}


#bar1{
    border: 1px solid white;
    width: 15%;
    margin: 0 15px;
}

#bar2{
    border: 1px solid white;
    width: 15%;
    margin: 0 15px;
}

#bar3{
    border: 1px solid white;
    width: 15%;
    margin: 0 15px;
}

#bar4{
    border: 1px solid white;
    width: 15%;
    margin: 0 15px;
}

#bar11{
    border: 1px solid white;
    width: 15%;
    background-color: white;
    margin: 0 15px;
}

#bar22{
    border: 1px solid white;
    width: 15%;
    background-color: white;
    margin: 0 15px;
}

#bar33{
    border: 1px solid white;
    width: 15%;
    background-color: white;
    margin: 0 15px;
}

#bar44{
    border: 1px solid white;
    background-color: white;
    width: 15%;
    margin: 0 15px;
}

.answerNumber {
    color:rgba(255, 255, 255, 0.479);
    font-size: 70px;
    position: relative;
    bottom:45px;
    left: 300px;
    z-index: -1;
}